import(methods, graphics, grid, ggplot2, gridExtra, reshape2)

### All functions
#exportPattern("^[[:alpha:]]+")

### S4 classes and methods
exportClasses("prof")

exportMethods(
  "show",
  "print",
  "plot"
)

export(
  read.prof, 
  autoplot.prof
)

### S3 methods.
S3method(autoplot, prof)
