### All functions
exportPattern("^prof\\.[[:alpha:]]+")
exportPattern("^parse\\.[[:alpha:]]+")

### S3 functions
export(
  "read.prof"
)

### S3 methods
S3method(parse.prof, fpmpi)
S3method(parse.prof, mpip)
S3method(parse.prof, tau)
